altgraph==0.17.4
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
decorator==5.1.1
future==0.18.3
idna==3.4
packaging==23.1
pefile==2023.2.7
psutil==5.9.5
pyfiglet==1.0.2
pyinstaller==6.0.0
pyinstaller-hooks-contrib==2023.9
python-whois==0.8.0
pyuac==0.0.3
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
scapy==2.5.0
tee==0.0.3
urllib3==2.0.5
